* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #fff;
}
nav a {
  text-decoration: none;
  color: white; /* thêm màu chữ để hiển thị rõ trên nền đen */
  letter-spacing: 1px; /* khoảng cách giữa các chữ cái */
}
.navbar {
  margin: 0px;
  background-color: black;
  padding: 10px;
  font-size: small;
  letter-spacing: 0.5px; /* khoảng cách giữa các chữ trong toàn bộ nav */
  display: flex;
  gap: 20px; /* khoảng cách giữa các mục nav */
  /* border-radius: 10px; tùy chọn bo góc nếu cần */
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  /* căn theo hàng dọcdọc */
  flex-direction: column;
}
header p {
  /* khoảng cách khung bên ngoài */
  margin-top: -10px;
  margin-bottom: 10px;
  /* padding: ; */
  font-size: 15px;
}

/* .banner {
  display: flex;
  justify-content: center;
} */
.banner img {
  width: 100%;
  height: auto;
}
.menuquick {
  width: 350px; /* hoặc 250px tùy ý */
  margin: 20px 0px0px; /* Căn giữa ngang */
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.list {
  font-size: small;
  margin-left: 20px;
}
.list a {
  font-size: small;
  text-decoration: none;
  display: block;
  /* margin: 5px 0; */
}
.paging {
  width: 550px; /* hoặc 250px tùy ý */
  margin: 20px auto; /* Căn giữa ngang */
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
