.body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 115%;
  margin: 0; /* Loại bỏ margin mặc định của body */
  padding: 0; /* Loại bỏ padding mặc định của body */
}
main {
  width: 100%;
  margin: 0 0 20px 0;
  /* padding: 10px; */
  background-color: lightslategray;
  /* Đảm bảo không có padding hoặc margin trên main nếu bạn muốn nó sát cạnh */
}
nav {
  display: flex;
  justify-content: space-around; /*căn giữa cho các contain*/
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
}
nav a {
  text-decoration: none;
}
main img {
  width: 40%;
  height: auto;
  justify-items: center;
  /* background-size: contain; */
}
main h1 {
  color: blue;
  justify-content: space-around;
  text-align: center;
  word-wrap: break-word; /*tránh chữ tràn ra khỏi box chứa nó,
  nó sẽ tự xuống dòng khi kích thước không đủ*/
}
next {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
next .box {
  width: 23%;
  height: auto;
  margin: 0 0 10px 10px;
}
img {
  max-width: 100%; /*đảm bảo ảnh không vượt quas chiều rộng của phần tử chứa*/
}
