.navbar {
  display: flex;
  justify-content: space-between; /* chia đều trái - giữa - phải */
  align-items: normal; /* canh giữa theo chiều dọc */
  padding: 15px 10px 10px;
  background-color: #050000d0; /* màu nền nhạt dễ nhìn */
  font-family: "Roboto", sans-serif;
  margin-top: -10px;
}
.itemleft,
.itemright {
  display: flex;
  gap: 7px; /* khoảng cách giữa các thẻ a */
}

a {
  text-decoration: none;
  color: #e7e4e4de;
  font-weight: 100;
  transition: color 0.3s;
}
/* hover chọn thay đổi màu */
a:hover {
  color: #007bff; /* hiệu ứng hover xanh dương */
}

.logo h3 {
  user-select: none;
  margin: 0;
  font-size: 25px;
  color: #f7f7f7;
}
.banner img {
  width: 500px;
  height: auto;
  display: flex;
  justify-self: center;
  /* margin-top: -10px; */
}
.banner h2 {
  font-family: "Roboto", sans-serif;
  /* margin-top: -100px; */
  /* font-size: 35px; */
  color: #fdeaea;
  display: flex;
  justify-self: center;
  margin: -10px;
}
.banner h1 {
  font-family: "Roboto", sans-serif;
  margin-top: -170px;
  /* font-size: 35px; */
  color: #fdeaea;
  display: flex;
  justify-self: center;
  /* margin: 100px; */
}
